<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nux.dhoan9.firstmvvm"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="com.nux.dhoan9.firstmvvm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:name=".BoeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.example.gcm"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".manager.GCMIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name=".manager.GCMIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".manager.GCMRegistrationIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".manager.LocalServices"
            android:stopWithTask="false">
        </service>

        <activity
            android:name=".view.activity.SlashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar"/>
        <activity
            android:name=".view.activity.ChefActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar"/>
        <activity android:name=".view.activity.ColorChangeActivity"/>
        <activity
            android:name=".view.activity.ProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.CustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar"/>
        <activity android:name=".view.activity.QRCodeScanActivity">
        </activity>
        <activity
            android:name=".view.activity.DishDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar"/>
        <activity
            android:name=".view.activity.CartActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.HistoryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.DishesByCategoryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar">
        </activity>
        <activity
            android:name=".view.activity.PaypalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ListDishNotServeActivity">
        </activity>
    </application>

</manifest>